@model Synergy.App.Data.ViewModel.ColumnViewModel

@{
    ViewData["Title"] = "Create Column";
}

<h1>Create Column</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DataType" class="control-label"></label>
                <select asp-for="DataType" class="form-control" asp-items="Html.GetEnumSelectList<Synergy.App.Data.DataColumnTypeEnum>()"></select>
                <span asp-validation-for="DataType" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsNullable" /> @Html.DisplayNameFor(model => model.IsNullable)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsForeignKey" /> @Html.DisplayNameFor(model => model.IsForeignKey)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPrimaryKey" /> @Html.DisplayNameFor(model => model.IsPrimaryKey)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSystemColumn" /> @Html.DisplayNameFor(model => model.IsSystemColumn)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsUniqueColumn" /> @Html.DisplayNameFor(model => model.IsUniqueColumn)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVisible" /> @Html.DisplayNameFor(model => model.IsVisible)
                </label>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
