@using Synergy.App.Data.ViewModel
@model List<IDictionary<string, object>>

@{
	ViewBag.Title = ViewBag.Name;
	Layout = "_Layout";
	var columns = ViewBag.Columns as List<ColumnViewModel> ?? [];
}

<div class="d-flex justify-content-between align-items-center mb-4 w-100">
	<h1>@ViewBag.Name</h1>
	<a asp-action="Create"
	   asp-route-templateCode="@ViewBag.TemplateCode"
	   class="btn btn-sm btn-primary">New</a>

</div>
<table class="table table-bordered table-striped">
	<thead>
	@foreach (var column in columns)
	{
		<th>
			@column.Name
		</th>
	}
	</thead>
	<tbody>
	@if (Model.Count > 0)
	{
		@foreach (var record in Model)
		{
			<tr>
				@foreach (var item in columns)
				{
					<td>
						@record[item.Alias]
					</td>
				}
			</tr>
		}
	}
	else
	{
		<tr>
			<td colspan="@columns.Count">No records found</td>
		</tr>
	}
	</tbody>
</table>

